{% extends 'base.html' %}
{% load static %}
{% block css %}
 <link rel="stylesheet" href='{% static "css/bootswatch.min.css" %}'>
{% endblock %}
{% load staticfiles %}
{% block title %}Edit Profile{% endblock %}

{% block body_block %}
<div class="col-sm-2 col-md-2 main">
</div>
<div class="col-sm-8 col-md-8 main f-form jumbotron">       
<h4 class="f-title">EDIT YOUR PROFILE</h4>
        <form id="profile_form" method="post" action="">
        {% csrf_token %} 
        <!-- for loop - output each field separately -->
        {% for field in user_form %}
          {% if field.errors %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
              <div class="controls">
                <div class="col-md-12">
                  <div class="alert alert-danger f-alert-danger" role="alert">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
                </div>
              </div>
            </div> 
          {% else %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
            </div>   
          {% endif %}
        {% endfor %}
        <!-- /foor loop -->

        <!-- for loop - output each field separately -->
        {% for field in details_form %}
          {% if field.errors %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
              <div class="controls">
                <div class="col-md-12">
                  <div class="alert alert-danger f-alert-danger" role="alert">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
                </div>
              </div>
            </div> 
          {% else %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
            </div>   
          {% endif %}
        {% endfor %}
        <!-- /foor loop -->

        <!-- for loop - output each field separately -->
        {% for field in user_profile_form %}
          {% if field.errors %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
              <div class="controls">
                <div class="col-md-12">
                  <div class="alert alert-danger f-alert-danger" role="alert">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
                </div>
              </div>
            </div> 
          {% else %}
            <div class="form-group">
              <label class="col-md-12 control-label">{{ field.label }}</label>
              <div class="col-md-12 form-c">{{ field }}</div>
            </div>   
          {% endif %}
        {% endfor %}
        <!-- /foor loop -->
              <div class="col-md-12 main-button">
              <br>
                <input type="submit" class="btn btn-default btn-green" name="submit" value="Update Profile"/>
              </div>
        </form>
</div>
<div class="col-sm-2 col-md-2">
</div>
<script type="text/javascript">
  $(document).ready(function() {
  $('.form-c input').addClass('form-control')
})
</script>
{% endblock %}


