{% extends 'base.html' %}
{% load static %}
{% block css %}
 <link rel="stylesheet" href='{% static "css/bootswatch.min.css" %}'>
{% endblock %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block body_block %}
<br>
<div class="col-sm-2 col-md-2 main">
</div>
<div class="col-sm-8 col-md-8 main">
<div class="jumbotron f-jumbotron">
{% if user %}
    <div>
    {% if is_mine %}
<a class="f-edit" href="{% url 'profile_form' %}" title="Edit Profile">Edit Profile  <i class="glyphicon glyphicon-edit"></i></a>
    {% endif %}
<table>
<tr>
    <td>
        {% if profile.picture %}
            <img class="img-responsive" src="{{ MEDIA_URL }}{{ profile.picture }}"/>
        {% else %}
            <img class="img-responsive" src="{{ MEDIA_URL }}profile_images/avatar.jpg"/>
        {% endif %}
    </td>
    <td>
        <p class="lead">
            {{user.first_name}} {{user.last_name}}
            {% if is_supervisor%}
                {% if details.job_title %}
                ({{ details.job_title }})
                {% endif %}
            {% endif %}
        </p>
        {% if not is_supervisor %}
        <p class="lead">
            {% if details.degree %}
            {{ details.degree }}
            {% endif %}

            {% if details.major %}
            in {{ details.major }}
            {% endif %}
        </p>
            {% else %}
            {% if details.availability %}
            <p class="text-success">Available for supervision</p>
                {% else %}
            <p class="text-muted">Unavailable for supervision</p>
                {% endif %}
            {% endif %}
            <p class="lead">{{ profile.school_ID.name }}</p>
            <p class="lead">{{ user.email }}</p>
            {% if profile.website %}
            <p class="lead">{{profile.website}}</p>
            {% endif %}
            {% if not is_supervisor %}
            {% if details.advisor %}
            <p class="lead">Advisor: {{ details.advisor }}</p>
            {% endif %}
            {% if details.advisor_email %}
            <p class="lead">Advisor Email: {{ details.advisor_email }}</p>
            {% endif %}
            {% endif %}
    </td>
</tr>
</table>
            <hr>
            {% if profile.about_me %}
                <h3 class="text-info">About Me</h3>
                <blockquote><small class="text-primary"> {{profile.about_me}}</small></blockquote>
            {% endif %}

            {% if topics %}
                <h3 class="text-info">Interests</h3>
                <ul>
                    {% for t in topics %}
                    <li>{{ t.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
       {% endif %}
    </div>
    </div>
</div>
<div class="col-sm-2 col-md-2">
</div>
{% endblock %}