{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<html>

    <head>
        <title>FMS</title>
    </head>

    <body>
       {% if user %}

        <div>
            {% if profile.picture %}
            <img src="{{ MEDIA_URL }}{{ profile.picture }}"/>
            {% else %}
                <img src="{{ MEDIA_URL }}/profile_images/avatar.jpg"/>
            {% endif %}

            <h3>{{user.first_name}} {{user.last_name}}
            {% if is_supervisor %}
                ({{ details.job_title }})
            {% endif %}
            </h3>

            {% if is_supervisor%}
                {% if details.availability %}
                    <p>Available for supervision</p>
                {% else %}
                    <p>	Unavailable for supervision</p>
                {% endif %}
            {% endif %}

            <p>{{ user.email }}</p>
            <p>{{ profile.school_ID.name }}</p>

            {% if profile.website %}
            <p>{{profile.website}}</p>
            {% endif %}

        </div>

       {% if profile.about_me %}
       <div>
           <h3>About Me</h3>
           {{profile.about_me}}
       </div>
       {% endif %}

        {% if topics %}
            <h3>Interests</h3>
            <ul>
            {% for t in topics %}
                <li>{{ t.name }}</li>
            {% endfor %}
            </ul>
        {% endif %}

       {% endif %}

    </body>

</html>
{% endblock %}
