{% extends 'base.html' %}
{% load static %}
{% block css %}
 <link rel="stylesheet" href='{% static "css/bootswatch.min.css" %}'>
{% endblock %}
{% load staticfiles %}
{% block title %}Search{% endblock %}

{% block body_block %}
<div class="col-sm-2 col-md-2 main">
</div>
<div class="col-sm-8 col-md-8 main">
{% if found_entries %}
{% autoescape off %}{{ outputHTML }}{% endautoescape %}
{% else %}
        <center><strong>There are no users present.</strong></center>
        {% endif %}
</div>
<div class="col-sm-2 col-md-2">
</div>
{% endblock %}
