/* Variables */
/* Lato */
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
html, body {
  height: 100%; }

body {
  font-family: "Lato";
  font-weight: 400;
  height: 100%;
  color: #3C3C3C; }

#wrap {
  height: auto;
  min-height: 100%;
  margin: 0;
  margin-bottom: -60px;
  background-color: #FAFAFA; }

#wrap:after {
  content: "";
  display: block;
  height: 60px; }

.logo {
  margin: 20px auto;
  display: block;
  max-width: 100%; }

.logo-xs {
  margin: 0px;
  display: inline-block;
  max-width: 100%; }

.f-title {
  font-weight: 700;
  text-align: center;
  margin: 45px 0px 0px 0px; }

footer {
  text-align: center;
  background-color: #fff;
  height: 60px; }
  footer p {
    color: #BDBDBD;
    margin: 0;
    padding: 20px; }

/* override - form section */
.f-form {
  margin: 20px 0px; }

.f-alert-danger {
  padding: 10px 15px;
  margin: 6px 0px;
  font-size: 13px;
  color: #fff;
  background-color: #E1504B;
  border: none;
  border-radius: 4px; }

.form-control {
  padding: 15px;
  outline: 0;
  height: 39px;
  color: #000;
  font-size: 13px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  appearance: none;
  -webkit-transition: border-color 200ms ease;
  -moz-transition: border-color 200ms ease;
  -o-transition: border-color 200ms ease;
  transition: border-color 200ms ease; }

.inline {
  display: inline-block;
  margin: 0; }

.col-md-10 .inline:last-of-type {
  float: right; }

.control-label {
  margin: 30px 0px 10px 0px;
  color: #737373; }

.f-success {
  font-weight: 400;
  color: #1d9958;
  border-bottom: 1px solid rgba(29, 153, 88, 0.4);
  padding: 10px;
  padding-bottom: 15px; }

.f-fail {
  font-weight: 400;
  color: #E1504B;
  border-bottom: 1px solid rgba(225, 80, 75, 0.4);
  padding: 10px;
  padding-bottom: 15px; }

.main-button {
  text-align: center; }

.btn-green {
  background-color: #037aaf;
  border-color: transparent; }

.btn-green:hover {
  background-color: #026795;
  color: #fff;
  border-color: transparent; }

.btn {
  min-width: 175px;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 30px 0px;
  outline: 0;
  cursor: pointer; }

.btn-gray {
  background-color: #fff;
  border-color: #BDBDBD;
  color: #737373; }

.btn-gray:hover {
  background-color: #fff;
  color: #737373;
  border-color: #BDBDBD; }

.btn-search {
  outline: 0;
  height: 39px; }

.f-center div {
  margin: 0 auto; }

.srch {
  text-align: center; }

.srch-box {
  margin-top: 60px; }

.f-edit {
  float: right; }

.jumbotron .lead {
  font-size: 16px;
  margin: 0;
  word-wrap: break-word; }

td:last-of-type {
  word-wrap: break-word;
  padding-left: 30px; }

@media screen and (max-width: 750px) {
  .col-xs-12 .navbar-brand {
    float: none; }
    .col-xs-12 .navbar-brand img {
      margin: 0 auto; }

  .srch-box {
    margin-top: 0px; } }
