-registry-path==1.0
addons==0.7
appinst==2.1.2
apptools==4.2.1
atom==0.3.9
backports.ssl-match-hostname==3.2a3
Beaker==1.6.5.post1
blaze==0.7.0
bytecodeassembler==0.6
Canopy==1.5.2.dev7471
canopydebugger==0.1.1.dev0
canopydebugger-addon==0.1.1.dev0
casuarius==1.1
chaco==4.5.0
cheetah==2.4.4
cherrypy==3.2.2
cloud==2.4.6
codetools==4.2.0
configobj==5.0.6
coverage==3.7.1
crank==0.7.2
DataShape==0.4.2
decoratortools==1.8
Django==1.7
django-ajax-search==1.5.1
django-debug-toolbar==1.3.0
django-elasticsearch-debug-toolbar==0.1.15
django-haystack==2.3.1
django-registration-redux==1.1
django-selectable==0.9.0
django-simple-elasticsearch==0.9.15
docutils==0.12
elasticsearch==1.4.0
elasticsearch-dsl==0.0.3
enable==4.4.1
enaml==0.9.8
enclosure==0.2
encore==0.6.0
enstaller==4.8.1
envisage==4.4.0
esky==0.9.8.dev0
etsproxy==0.1.2
Examples==7.3
extremes==1.1.1
faulthandler==2.4
feedparser==5.1.3
flake8==2.2.5
formencode==1.2.4
futures==2.2.0
genshi==0.6
grits-client==0.1
idle==2.7.3
into==0.1.3
ipython==2.3.1
Jinja2==2.7.3
jsonpickle==0.4.0
kernmagic==0.2.0
keyring==4.0
kiwisolver==0.1.3
markdown==2.1.0
MarkupSafe==0.23
matplotlib==1.4.2
memory-profiler==0.31.0
MKL==10.3
mock==1.0.1
nose==1.3.4
numpy==1.8.1
pandas==0.15.2
paste==1.7.5.1
pastedeploy==1.5.0
pastescript==1.7.5
## FIXME: could not find svn URL in dependency_links for this package:
peak-rules===0.5a1.dev-r2707
PIL==1.1.7
ply==3.4
psutil==2.2.0
pyaudio==0.2.4
pycrypto==2.6.1
pyface==4.4.0
pyflakes==0.4.5.dev80
pyglet==1.1.4
Pygments==2.0.2
pyparsing==2.0.2
pyreadline==2.0.0
PySide==1.2.2
python-dateutil==1.5
python-ptrace==0.8.1
PythonDoc==2.7.3
pytz==2014.9.0
pywin32==219.0.0
pyzmq==14.5.0
repoze.lru==0.6
requests==2.5.1
scipy==0.14.1rc1
simplejson==2.2.1
six==1.8.0
sqlparse==0.1.14
ssl-match-hostname==3.4.0.2
supplement===0.5dev.dev202
symboltype==1.0
sympy==0.7.6
tgmochikit==1.4.2
tgscheduler==1.6.3
tornado==4.0.2
traits==4.5.0
traits-enaml==0.2.1
traitsui==4.4.0
TurboGears2==2.3.4
turbojson==1.3.2
urllib3==1.10.2
WebOb==1.4
Whoosh==2.6.0
winappdbg==1.5
wxPython==2.8.10.1
