{% extends 'base.html' %}
{% load static %}
<!-- page title -->
{% block title %}Reset Email{% endblock %}
{% block body_block %}
<!-- page contents -->
<div class="col-md-4"></div>
<div class="col-md-4">
    {% load i18n %}
    {% blocktrans %}Reset password at {{ site_name }}{% endblocktrans %}:
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
    {% endblock %}
</div>
<div class="col-md-4"></div>
<!-- /page contents -->
{% endblock %}


