{% extends 'authentication_base.html' %}

{% load static %}
<!-- page title -->
{% block title %}sent{% endblock %}
{% block body_block %}
<!-- page contents -->
<div class="col-md-4"></div>
<div class="col-md-4 f-form">
    <img class="logo" src='{% static "images/logo.png" %}'/>
    {% load i18n %}
    {% if validlink %}
  <form method="post" action=".">
    {% csrf_token %} 
    <!-- for loop - output each field separately -->
    {% for field in form %}
      {% if field.errors %}
        <div class="form-group">
          <label class="col-md-12 control-label">{{ field.label }}</label>
          <div class="col-md-12 form-c">{{ field }}</div>
          <div class="controls">
            <div class="col-md-12">
              <div class="alert alert-danger f-alert-danger" role="alert">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
            </div>
          </div>
        </div> 
      {% else %}
        <div class="form-group">
          <label class="col-md-12 control-label">{{ field.label }}</label>
          <div class="col-md-12 form-c">{{ field }}</div>
        </div>   
      {% endif %}
    {% endfor %}
    <!-- /foor loop -->
        <div class="col-md-12 main-button">
          <input type="submit" value="{% trans 'Submit' %}" />
        </div>
  </form>
  {% else %}
  <h5 class="f-title f-fail">{% trans "Password reset failed" %}</h5>
  {% endif %}
</div>
<div class="col-md-4"></div>
<!-- /page contents -->
<script type="text/javascript">
  $(document).ready(function() {
  $('.form-c input').addClass('form-control')
})
</script>
{% endblock %}










